version: '3'
services:
  node-gulp:
    container_name: node-gulp
    restart: always
    build: 
      context: .
      dockerfile: ./DOCKER-GULP-SASS-VUE-BROWSER_SYNC-/Dockerfile
    ports:
      - '80:3000'
    volumes:
       - ./app:/app/app